* {
    background-color: #07051c;
    color: white;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input, textarea {
        display: block;
        background-color: white;
        border: none;
    }
}
