:root {
    --header-footer-padding: 12px;
}

h1 {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000813;
    color: white;
    font-family: 'sans';
}

header {
    padding: var(--header-footer-padding);
    display: flex;
    justify-content: space-between;

    ul {
        display: flex;
        gap: 20px;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    a {
        color: white;
    }
}

footer {
    padding: var(--header-footer-padding);

    p {
        padding: 0;
        margin: 0;
    }
}

#content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #about {
        img {
            display: block;
        }
    }
}

main {
    margin: 10vh 24px;
    max-width: 1000px;
    align-self: center;
}

div:has(> form) {
    width: fit-content;
    margin: 0 auto;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    color: black;

    background-color: #dfdfdf;
    padding: 20px;
    border-radius: 20px;

    input, textarea {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 1px 1px black;
        font: inherit;
    }

    textarea {
        resize: none;
    }
}
